.form {
    width: 360px;
    margin: 0 auto;
}
.form label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-form {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 328px;
    height: 40px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.radio-box{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 48px;
    width: 264px;
    height: 32px;
    margin: 16 auto;
}

fieldset {
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;}

.button-ntfcn{
    border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
margin-top: 24px;}
